{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>QR Code Scanner</title>
    <!-- <script src="{% static 'qrscanner/js/libs/html5-qrcode/html5-qrcode.min.js' %}" defer></script> -->
    <!-- <script type="module" src="{% static 'qrscanner/js/qrscanner.js' %}" defer></script> -->
    <script src="../../static/qrscanner/js/libs/html5-qrcode/html5-qrcode.min.js" defer></script>
    <script type="module" src="../../static/qrscanner/js/qrscanner.js" defer></script>
    <!-- <link rel="stylesheet" href="{% static 'qrscanner/css/stlye.css' %}"> -->
    <link rel="stylesheet" href="../../static/qrscanner/css/style.css">
    <script>
        const scanApiUrl = "{% url 'qrscanner-scan' %}";
    </script>
</head>
<body>
    <h1>Scan Everything!</h1>

    <div id="reader" style="width: 300px; margin-bottom: 20px;"></div>

    <div id="result" style="font-weight: bold;"></div>

    <input type="hidden" id="csrf_token" value="{{ csrf_token }}">
</body>
</html>
